/* =========================
    Foodie Css 
============================*/

.foodie-slider{
    min-height: 690px;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    .foodie-slider-inner{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url(/img/others/foodie.jpg);
        background-repeat: repeat-x;
        background-size: cover;
    }
}





























